html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

a {
  color: black;
}

nav.button {
  color: black;
}

.navStart {
  background-color: #f8f9fa;
}

.navScroll {
  background-color: black;
  color: white;
}

#navbarItems {
    text-align: right;
    font-family: 'Josefin Sans', sans-serif;
}

header.masthead {
    text-align: center;
    color: black;
    background-image: url("../img/header-desk-rainbow.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    height: 700px;
  }

  header.masthead .intro-text {
    padding-top: 225px;
    padding-bottom: 250px;
  }

  header.masthead .intro-lead-in {
    font-size: 100px;
  }
  
  header.masthead .intro-heading {
    font-size: 30px;
  }

  #masthead-arrows {
    width: 20%;
  }

  section {
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
  }

  section h3 {
    font-family: 'Mr Dafoe', cursive;
    padding-bottom: 20px;
}

  #services img {
      padding-bottom: 20px;;
  }

  .services-icons {
      width: 60%;
  }

  #portfolio {
    text-align: center;
  }

  #portfolio h4 {
    padding-top: 20px;
  }

  .portfolio-image {
    width: 80%;
  }
  
  #headshot {
      width: 100%;
      border-radius: 50%;
  }

  #buttonTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/rainbow-gradient.jpeg");
    background-repeat: no-repeat;    
    color: white;
  }

  .hideButton {
    display: none;
  }